snippet fn "Function" b
def ${1:fn}(${2:self}):
	${0:pass}
endsnippet

snippet plt "matplotlib import" b
import matplotlib.pyplot as plt
endsnippet

snippet np "numpy import" b
import numpy as np
endsnippet
