snippet al "General align" b
\begin{align}
	${VISUAL}${0}
\end{align}
endsnippet

snippet eq "Equation" b
\begin{align}
	${1:x} &= ${2:42}
\end{align}
endsnippet

snippet bb "Size-adjusting () brackets"
\bb{${VISUAL}${0}}
endsnippet

snippet bc "Size-adjusting [] brackets"
\bc{${VISUAL}${0}}
endsnippet
